<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>IMPORT FILES</title>
    </head>
    <body>
        <div class="header">
            <h1>Select file to upload</h1>
        </div>
        <div class="container">
       
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" id="file" name="file">
                <input type="submit" value="upload">
              </form>

 
        </div>
    </body>
</html>
