<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>IMPORT FILES</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Success!! Clink links below to download your files</h1>
            </div>
            <div>
                <a href="/uploads/{{good_filename}}">{{good_filename}}</a> <br>
                <a href="/uploads/{{bad_filename}}">{{bad_filename}}</a> <br>
                <a href="/uploads/{{good_summary}}">{{good_summary}}</a>
            </div>
            <a href="/">
                <button>Upload more files</button>
        </div>    
    </body>
</html>
